.popup-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-popup--hidden {
    display: none;
}

.popup {
    width: 600px;
    height: 400px;
    background-color: cadetblue;
    margin: 0 auto;
    position: relative;
}

.popup__button-close--small {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
}

.popup__button-close--wide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50px);
    font-size: 18px;
}
